<!DOCTYPE html>
<meta charset="utf-8">
<head>
    <link href="{{ url_for('static', filename='css/fontlato.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/awesomemin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <style> /* set the CSS */

        .line {
          fill: none;
          stroke: rgb(224, 247, 22);
          stroke-width: 2px;
        }

        .axisRed path{
        stroke: rgb(231, 235, 9);
        }

        .axisRed text{
        fill: rgb(248, 242, 242);
        }  
        </style>
    <style>
        body {
            background: #000000;
            margin: 0;
            padding: 0;
        }
        .link {
            stroke: #ccc;
        }
    
        .text {
            pointer-events: none;
            color: white;
            font: 10px sans-serif;
        }
        .svg-div{
            margin-top: 20%
            display: block;
            z-index:100;
            /* margin: 0 auto; */
            }
        #canvas-wrap { position:relative } /* Make this a positioned parent */
        #overlay { position:absolute; top:20px; left:30px; }
        /* body {
        background: #0e0e0e;
        color: #fff;
        font-family: sans-serif;
        } */

        /*Responsive table*/
        table {
        width: 1400px;
        border-collapse: collapse;
        background: #34495e;
        color: #f3f3f3;
        }
        thead, tbody { display: block; }

        tbody {
            height: 575px;       /* Just for the demo          */
            overflow-y: auto;    /* Trigger vertical scroll    */
            overflow-x: hidden;  /* Hide the horizontal scroll */
        }
        tbody td, thead th {
            width: 446px;
        }
        td,
        th {
        padding: 8px;
        text-align: left;
        }

        /* Zebra striping */
        tr:nth-of-type(odd) {
        background: #16a085;
        }

        th {
        background: #2c3e50;
        font-weight: bold;
        }

        h1 a {
        text-decoration: none;
        color: #fff;
        }
        .column {
        float: left;
        width: 33%;
        height: 50%;
        margin-bottom: 5%;
        }

        /* Clear floats after the columns */
        .row:after {
        content: "";
        display: table;
        clear: both;
        }
        .legend rect {
        fill:white;
        stroke:black;
        opacity:0.8;}

    </style>
</head>
<body>
    <div class="navbar" id= "nav">
        <a href="{{ url_for('index') }}">NetVis</a>
        <div class="dropdown">
            <a class="drop" href="#Home">Metrics 
                <i class="fa fa-angle-double-down"></i>
                <i class="fa fa-angle-double-up"></i>
            </a>
            <div class="drop-content">
                <a href="#Prod1">Metrics</a>
                <a href="{{ url_for('pie') }}">Distribution</a>
                <a href="{{ url_for('lineCharts') }}">Flow</a>
            </div>
        </div>
        <a href="{{ url_for('events') }}">Events</a>
        <a href="{{ url_for('incidents') }}">Incidents</a>
        <a href="#Content">About</a>
        <a href="javascript:void(0);" class="icon" onclick="displayMenu()"><i class="fa fa-bars"></i></a>
    </div>
            
    <script src="{{ url_for('static', filename='js/jquery311.js') }}" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        window.onload = function() {
            var canvas = document.getElementById("sky");
            var ctx = canvas.getContext("2d");
    
            var W = window.innerWidth;
            var H = window.innerHeight;
            canvas.width = W;
            canvas.height = H;
    
            var count = 100;
            var stars = [];
            var opacity = 0.5;
            var r = 0;
    
            function draw(j) {
                ctx.fillStyle = "rgba(255,255,255," + opacity + ")";
                ctx.beginPath();
                if (opacity === 1) {
                    size = 2;
                } else {
                    size = stars[j].size;
                }
                ctx.rect(stars[j].xpos, stars[j].ypos, size, size);
                ctx.fill();
            }
    
            function newStar() {
                r = Math.floor(Math.random() * (count - 0));
                opacity = 1;
            }
    
            function starLight() {
                var star = stars[r];
                ctx.clearRect(star.xpos, star.ypos, 2, 2);
                draw(r);
                opacity -= 0.01;
    
                if (opacity <= star.op) {
                    newStar();
                }
            }
    
            for (var i = 0; i < count; i++) {
                opacity += 0.5 / count;
                stars.push({
                    xpos: Math.floor(Math.random() * W),
                    ypos: Math.floor(Math.random() * H),
                    size: 1,
                    op: opacity
                });
                draw(i);
            }
    
            newStar();
            setInterval(starLight, 20);
            setInterval(starLight, 30);
        };
    </script>
    
    <div id="canvas-wrap">
        <canvas id="sky">
            
        </canvas>
        <div id="overlay" style="align-content: center;width: 95%; height: 100%, margin-top:25%">
        <div class="column"><center id="TCP"></center></div>
        <div class="column"><center id="UDP"></center></div>
        <div class="column"><center id="ModbusTCP"></center></div>
        <div class="column"><center id="CIP"></center></div>
        <div class="column"><center id="IEC104"></center></div>
        <div class="column"><center id="FTP"></center></div>
    </div>


<!-- load the d3.js library -->    	
<script src="{{ url_for('static', filename='js/d3v4.js') }}"></script>
<script>

// set the dimensions and margins of the graph
var margin = {top: 20, right: 20, bottom: 50, left: 70},
      width = 350 - margin.left - margin.right,
      height = 250 - margin.top - margin.bottom ;
  
  // parse the date / time
  var parseMilliseconds = d3.utcParse("%Y-%m-%d %H:%M:%S.%L"),
      stripNanoseconds = function(s) { return s.slice(0, -4); },
      parseDate = function(s) { return parseMilliseconds(stripNanoseconds(s)); };
  // var parseDate = d3.utcParse("%Y-%m-%d %H:%M:%S.%L%L");
  
  // set the ranges
  var x = d3.scaleTime().rangeRound([0, width]);
  var y = d3.scaleLinear().rangeRound([height, 0]);
  
  // define the line
  var valueline = d3.line()
      .x(function(d) { return x(d[0]); })
      .y(function(d) { return y(d[1]); });
  
  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg = d3.select("#TCP").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
        .attr("class", "axisRed")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  
  // Get the data
  d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
    if (error) throw error;
    // 
    // // format the data
    
    data.forEach(function(d) {
      if(d.protoc=="TCP")
        d.len = d.len;
      else
        d.len = "0";
    });
    data=data.map(function(d1) {
          return[
              parseDate(d1["timestamp"]),
              d1["len"]
          ];
        });
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d[0]; }));
    y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
    
    // Add the valueline path.
    svg.append("path")
        .data([data])
        .attr("class", "line")
        .attr("d", valueline);
    
    svg.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("TCP");
    // Add the X Axis
    svg.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg.append("g")
        .call(d3.axisLeft(y));
    
    svg.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
    
  
  });
  </script>
  <b>TCP</b>
  <script>

  
  // append the svg obgect to the body of the page
  // appends a 'group' element to 'svg'
  // moves the 'group' element to the top left margin
  var svg2 = d3.select("#UDP").append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("class", "axisRed")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");
  
  
  // Get the data
  d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
    if (error) throw error;
    // 
    // // format the data
    
    data.forEach(function(d) {
      if(d.protoc=="UDP")
        d.len = d.len;
      else
        d.len = "0";
    });
    data=data.map(function(d1) {
          return[
              parseDate(d1["timestamp"]),
              d1["len"]
          ];
        });
    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d[0]; }));
    y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
    
    // Add the valueline path.
    svg2.append("path")
        .data([data])
        .attr("class", "line")
        .attr("d", valueline);
  
    svg2.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("UDP");
    // Add the X Axis
    svg2.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg2.append("g")
        .call(d3.axisLeft(y));
    
    svg2.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
  
  });
    
    // append the svg obgect to the body of the page
    // appends a 'group' element to 'svg'
    // moves the 'group' element to the top left margin
    var svg3 = d3.select("#ModbusTCP").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
      .attr("class", "axisRed")
        .attr("transform",
              "translate(" + margin.left + "," + margin.top + ")");
    
    
    // Get the data
    d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
      if (error) throw error;
      // 
      // // format the data
      
      data.forEach(function(d) {
        if(d.protoc=="ModbusTCP")
          d.len = d.len;
        else
          d.len = "0";
      });
      data=data.map(function(d1) {
            return[
                parseDate(d1["timestamp"]),
                d1["len"]
            ];
          });
      // console.log(d3.max(data, function(d) { return Number(d[1]); }));
      // Scale the range of the data
      x.domain(d3.extent(data, function(d) { return d[0]; }));
      y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
      // Add the valueline path.
      svg3.append("path")
          .data([data])
          .attr("class", "line")
          .attr("d", valueline);
    
      // Add the X Axis
    svg3.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("ModbusTCP");
    // Add the X Axis
    svg3.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg3.append("g")
        .call(d3.axisLeft(y));
    
    svg3.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
    
    });
    
      
      // append the svg obgect to the body of the page
      // appends a 'group' element to 'svg'
      // moves the 'group' element to the top left margin


      var svg4 = d3.select("#CIP").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("class", "axisRed")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
      
      
      // Get the data
      d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
        if (error) throw error;
        // 
        // // format the data
        
        data.forEach(function(d) {
          if(d.protoc=="CIP")
            d.len = d.len;
          else
            d.len = "0";
        });
        data=data.map(function(d1) {
              return[
                  parseDate(d1["timestamp"]),
                  d1["len"]
              ];
            });
        // Scale the range of the data
        x.domain(d3.extent(data, function(d) { return d[0]; }));
        y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
        
        // Add the valueline path.
        svg4.append("path")
            .data([data])
            .attr("class", "line")
            .attr("d", valueline);
      
        // Add the X Axis
    svg4.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("CIP");
    // Add the X Axis
    svg4.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg4.append("g")
        .call(d3.axisLeft(y));
    
    svg4.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
      
      });
      
      var svg5 = d3.select("#IEC104").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("class", "axisRed")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
      
      
      // Get the data
      d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
        if (error) throw error;
        // 
        // // format the data
        
        data.forEach(function(d) {
          if(d.protoc=="IEC104")
            d.len = d.len;
          else
            d.len = "0";
        });
        data=data.map(function(d1) {
              return[
                  parseDate(d1["timestamp"]),
                  d1["len"]
              ];
            });
        // Scale the range of the data
        x.domain(d3.extent(data, function(d) { return d[0]; }));
        y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
        
        // Add the valueline path.
        svg5.append("path")
            .data([data])
            .attr("class", "line")
            .attr("d", valueline);
      
        // Add the X Axis
    svg5.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("IEC104");
    // Add the X Axis
    svg5.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg5.append("g")
        .call(d3.axisLeft(y));
    
    svg5.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
      
      });

      var svg6 = d3.select("#FTP").append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("class", "axisRed")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
      
      
      // Get the data
      d3.csv("{{ url_for('static', filename='data.log') }}", function(error, data) {
        if (error) throw error;
        // 
        // // format the data
        
        data.forEach(function(d) {
          if(d.protoc=="FTP")
            d.len = d.len;
          else
            d.len = "0";
        });
        data=data.map(function(d1) {
              return[
                  parseDate(d1["timestamp"]),
                  d1["len"]
              ];
            });
        // Scale the range of the data
        x.domain(d3.extent(data, function(d) { return d[0]; }));
        y.domain([0, d3.max(data, function(d) { return Number(d[1]); })]);
        
        // Add the valueline path.
        svg6.append("path")
            .data([data])
            .attr("class", "line")
            .attr("d", valueline);
      
        // Add the X Axis
    svg6.append("text")             
      .attr("transform",
            "translate(" + (width/2) + " ," + 
                           (height + margin.top + 20) + ")")
      .style("text-anchor", "middle")
      .text("FTP");
    // Add the X Axis
    svg6.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(x));
    
    // Add the Y Axis
    svg6.append("g")
        .call(d3.axisLeft(y));
    
    svg6.append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 0 - margin.left)
      .attr("x",0 - (height / 2))
      .attr("dy", "1em")
      .style("text-anchor", "middle")
      .text("Packet Size");  
      
      });
      
      </script>
</body>
