<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/ >
		<title>Radar Chart</title>

		<!-- Google fonts -->
    <link href="{{ url_for('static', filename='css/fontlato.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/awesomemin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
		<!-- D3.js -->
		<script src="{{ url_for('static', filename='js/cloudflaremin.js') }}" charset="utf-8"></script>
		
		<style>
			body {
				background: #000000;
        /* background: -moz-linear-gradient(top, #000000 0%, #000 100%);
        background: -webkit-linear-gradient(top, #000000 0%, #000 100%);
        background: linear-gradient(to bottom, #000 0%, #000 100%); */
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
      font-size: 11px;
      font-weight: 300;
          /* fill: #242424; */
      text-align: center;
      cursor: default;
			}
			
			.legend {
				font-family: 'Raleway', sans-serif;
				fill: #ffffff;
			}
			
			.tooltip {
				fill: #ffffff;
			}
		</style>
	
	</head>
  <body>
    <div class="navbar" id= "nav">
        <a href="{{ url_for('index') }}">NetVis</a>
        <div class="dropdown">
            <a class="drop" href="#Home">Metrics 
                <i class="fa fa-angle-double-down"></i>
                <i class="fa fa-angle-double-up"></i>
            </a>
            <div class="drop-content">
                <a href="#Prod1">Metrics</a>
                <a href="{{ url_for('pie') }}">Distribution</a>
                <a href="{{ url_for('lineCharts') }}">Flow</a>
            </div>
        </div>
        <a href="{{ url_for('events') }}">Events</a>
        <a href="{{ url_for('incidents') }}">Incidents</a>
        <a href="#Content">About</a>
        <a href="javascript:void(0);" class="icon" onclick="displayMenu()"><i class="fa fa-bars"></i></a>
    </div>
    
    <script src="{{ url_for('static', filename='js/jquery311.js') }}" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src={{ url_for('static', filename='js/main.js') }}></script>
    <div id="canvas-wrap">


                            <div class="radarChart"></div>

            <script src="{{ url_for('static', filename='js/radarChart.js') }}"></script>	
                            <script>
                        
                              var margin = {top: 100, right: 100, bottom: 100, left: 100},
                                legendPosition = {x: 25, y: 25},
                                width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
                                height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 50);
                                  
                              ////////////////////////////////////////////////////////////// 
                              ////////////////////////// Data ////////////////////////////// 
                              ////////////////////////////////////////////////////////////// 
                              
                              var malicious_events = {{ malicious_events|tojson|safe }}
                              var normal_events = {{ normal_events|tojson|safe }}
                              console.log(normal_events)
                              var data = [
                                    [
                                    {axis:"TCP",value:normal_events['TCP'],name:"Normal Events"},
                                    {axis:"UDP",value:normal_events['UDP'],name:"Normal Events"},
                                    {axis:"DNS",value:normal_events['DNS'],name:"Normal Events"},
                                    {axis:"DHCP",value:normal_events['DHCP'],name:"Normal Events"},
                                    {axis:"ICMP",value:normal_events['ICMP'],name:"Normal Events"},
                                    {axis:"ModbusTCP",value:normal_events['ModbusTCP'],name:"Normal Events"},
                                    {axis:"CIP",value:normal_events['CIP'],name:"Normal Events"},
                                    {axis:"IEC104",value:normal_events['IEC104'],name:"Normal Events"},
                                    {axis:"Other",value:normal_events['Others'],name:"Normal Events"}				
                                    ],
                                    [
                                    {axis:"TCP",value:malicious_events['TCP'],name:"Malicious Events"},
                                    {axis:"UDP",value:malicious_events['UDP'],name:"Malicious Events"},
                                    {axis:"DNS",value:malicious_events['DNS'],name:"Malicious Events"},
                                    {axis:"DHCP",value:malicious_events['DHCP'],name:"Malicious Events"},
                                    {axis:"ICMP",value:malicious_events['ICMP'],name:"Malicious Events"},
                                    {axis:"ModbusTCP",value:malicious_events['ModbusTCP'],name:"Malicious Events"},
                                    {axis:"CIP",value:malicious_events['CIP'],name:"Malicious Events"},
                                    {axis:"IEC104",value:malicious_events['IEC104'],name:"Malicious Events"},
                                    {axis:"Other",value:malicious_events['Others'],name:"Malicious Events"}				
                                    ]
                                  ];
                              ////////////////////////////////////////////////////////////// 
                              //////////////////// Draw the Chart ////////////////////////// 
                              ////////////////////////////////////////////////////////////// 
                        
                              var color = d3.scale.ordinal()
                                .range(["#EDC951","#FF0000","#00A0B0"]);
                                
                              

                              var radarChartOptions = {
                                w: width,
                                h: height,
                                margin: margin,
                                maxValue: 0.5,
                                levels: 5,
                                roundStrokes: true,
                                color: color,
                                legendPosition: legendPosition,
                                areaName: "name",
                              };
                              

                            // var radarChartOptions {
                            //   areaName: "device",
                              
                            // };
                              //Call function to draw the Radar chart
                              RadarChart(".radarChart", data, radarChartOptions);
                            </script>
		
	</body>
</html>